body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-col);
    background: url('./assets/background.png') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 390px;
}

.item {
    text-align: center;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.btn {
    padding: 0;
    border: none;
    background: url('./assets/blast.png') center center no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.btn:active {
    width: 175px;
    height: 175px;
    transition: width 0.2s, height 0.2s;
}

.score-container {
    text-align: center;
    position: absolute;
    top: 70px;
    width: 100%;
}

.score {
    display: inline-block;
    margin: 0;
    font-size: 56px;
    color: white; /* Установите желаемый цвет текста */
}


.tabs {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: -10px;
    width: 100%;
    padding: 10px 0;
}

.tab {
    padding: 0;
    border: none;
    width: 80px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    background-size: cover; /* Масштабируем фоновое изображение для кнопки */
}

.tab img {
    display: none; /* Скрываем внутренние изображения, так как используем фон */
}

/* Для каждой кнопки укажите своё изображение */
.tab[data-target="index"] {
    background-image: url('./assets/button1_image.png');
}

.tab[data-target="menu2"] {
    background-image: url('./assets/button2_image.png');
}

.tab[data-target="menu3"] {
    background-image: url('./assets/button3_image.png');
}

.tab[data-target="menu4"] {
    background-image: url('./assets/button4_image.png');
}

.tab:active {
    width: 78px;
    height: 58px;
}

.energy-bar {
    position: absolute;
    bottom: 63px; /* Располагаем шкалу под кнопками */
    left: 50%; /* Выравниваем по центру */
    transform: translateX(-50%); /* Сдвигаем влево на половину ширины */
    width: 315px; /* Ширина шкалы */
    height: 20px; /* Высота шкалы */
    background-color: black; /* Цвет фона шкалы */
    border-radius: 10px; /* Радиус скругления углов */
}

.energy-level {
    height: 100%;
    background-color: orange; /* Цвет шкалы энергии */
    border-radius: 10px; /* Радиус скругления углов */
    transition: width 0.3s ease; /* Плавное изменение ширины */
}

.health-label {
    position: absolute;
    bottom: 93px; /* Вы можете регулировать положение по вашему усмотрению */
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px; /* Размер шрифта по вашему выбору */
    color: white; /* Цвет текста */
}


